body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
    font-family: Arial, Helvetica, sans-serif;
    color:#F9FAF8;
}
.sectionone {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em 0px;
}

.navbar {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:3em;
    max-width:1017px;
    align-self:center;
    gap:2em;
}

.navbar h3 {
    margin-top:0;
    font-size: 24px;
    margin:0;
    flex:1.2 0 auto;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding:0;
    margin: 0;
    gap:1em;
    flex:0.8 0 auto;
}
.navigation a {
    text-decoration: none;
}

.navigation li {
    font-size: 14px;
    color:#E5E7EB;
}

.topdata {
    display:flex;
    flex-wrap:wrap;
    font-weight: bolder;
    padding:2em;
    gap:3em;
    margin-bottom:2em;
}

.dataleft{
    flex:0.8;
}

.dataright {
    flex:1.2;
}

.dataleft h1 {
    padding:0;
    margin:0;
    font-size:38px;
}

.dataleft p{
    font-size: 14px;
    font-weight: lighter;
}

.dataleft button {
    background-color:#3882F6;
    padding:8px 14px;
    border-radius: 8px;
    color:#E5E7EB;
    border:0;
}

.image {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:grey;
    height:100%;
}

.sectiontwo {
    color:#1F2937;
    text-align: center;
    margin-bottom: 3em;
}

.sectiontwo h1 {
    margin: 2em 0;
}

.card-view {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:3em;
}

.card {
    display: flex;
    flex-direction: column;
    max-width:12em;
}

.box {
    border:5px solid #3882F6;
    height:12em;
    width:12em;
    border-radius: 20px;
}

.sectionthree {
    background-color:#E5E7EB;
    display:flex;
    justify-content:center;
}

.quotecontainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width: 50%;
    color: #1F2937;
    margin: 4em 0;
}

.quotecontainer p {
    text-align:left;
    font-style:italic;
    font-size: 36px;
    margin-bottom: 0;
}
.quotecontainer h3 {
    font-weight: bold;
    margin-left: auto;
}